<div class="container">
  <div class="actions">
    <button mat-raised-button color="accent" (click)="generateTen()">Add Random Tasks</button>
    <button mat-raised-button color="primary" (click)="newTask()">Create Task</button>
  </div>
  <div class="hours">
    <div class="hour" *ngFor="let h of hours; let i = index; let l = last">
      <div class="label">
        <ng-container *ngIf="i !== 0">
          {{(i >= 12)?(i%12)+' pm': i + ' am'}}
        </ng-container>
      </div>
      <div class="tasks">
        <div class="divider"></div>
        <div class="list">
          <div class="task" *ngFor="let t of getTasks(i); let tindex = index" [style.height.px]="t.duration / 60 * 60" [style.marginTop.px]="t.startMin / 60 * 60" (click)="openDialog(t, tindex)">
            {{t.label}} - {{t.duration}} min
          </div>
        </div>
      </div>
    </div>
  </div>
</div>